<header>
    <div id="index_00" class="row front-main">
        <!--왼쪽 6단-->
        <div class="col s6 c1 valign-wrapper front-main">
            <div id="left_side" class="right-align white-text" style="width:100%;">
                <h1 class="stretch gugi">평행</h1>
                <p class="stretch poor-story">장거리 커플들</p>
            </div>
        </div>
        <!--오른쪽 6단-->
        <div class="col s6 c5 valign-wrapper front-main">
            <div id="right_side" class="white-text">
                <h1 class="stretch gugi">일기</h1>
                <p class="stretch poor-story">을 위한 일기</p>
            </div>
        </div>
    </div>
</header>
<article>
    <div class="row valign-wrapper c4 ">
        <div id="index_01" class="col s12 center-align white-text poor-story">
            <h5>"<br/>왜 뜬금없이 같이 일기를 써야하는거죠?</h5>
            <p>그냥 서로 카톡하고 인스타 하면 안되나요?<br/>"</p>
            <img id="your_name" src="/images/main_couple.png" />
        </div> 
    </div>
    <div class="row valign-wrapper c4 ">
            <div id="index_01" class="col s12 center-align white-text poor-story">
            <h5>장거리 연애도 결국 연애입니다.</h5>
            <p>오늘 하루 어떻게 생활했는지...<br />어떤일이 있었는지...<br /><br />아무도 볼 수 없는 둘만의 공간에서<br/>서로의 솔직한 마음을 표현해보세요.</p>
        </div>
    </div>
    <div id="index_02" class="row valign-wrapper">
        <div class="col s12 center-align white-text poor-story">
            <h5 id="catch">어쩌면 이 마음아픈 장거리도 <br />결국 단거리로 바뀌게 될겁니다.</h5>
            <a class="waves-effect waves-light btn-large" href="/signup">회원가입 하기</a>
            <img id="cat" class="" src="/images/cat.png" />
        </div>
    </div>
</article>