<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>평행일기</title>
    <!--    JQuery GOOGLE CDN    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--    MATRIALIZE JS    -->
    <script type="text/javascript" src="/js/materialize.js"></script>
    <!--    MATRIALIZE CSS    -->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    BASE CSS FOR GENERAL    -->
    <link href="/css/base.css" rel="stylesheet">
    <!--    Firebase API    -->
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-firestore.js"></script>
    <!--    Prograssive Web App     -->
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#E6E6FA">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#E6E6FA">
    <script src="/pwabuilder-sw-register.js"></script>
</head>

<body>
    <!--    
            메인 페이지 레이아웃 작성
            2018.09.17. 14109388 홍진백

            메인 페이지 레이아웃 보강
            2018.11.01  14109362 이창재
        -->

    <!--   NAVIGATION BAR     -->
    <nav class="blue darken-2">
        <div class="container nav-wrapper blue darken-2">
            <a href="/" class="brand-logo poor-story">
                <%=(typeof title != "undefined" ? title : "평행일기")%></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">메인</a></li>
                <li><a href="/main">일기쓰기</a></li>
                <li><a href="/users/login">로그인</a></li>
                <li><a href="/users/signup">회원가입</a></li>
                <li><a href="/users/logout">로그아웃</a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav blue lighten-1" id="mobile-demo">
        <li><div class="user-view">
            <div class="background">
            <img src="images/userback.png">
            </div>
            <a href="#user"><img class="circle" src="images/Profile.jpg"></a>
            <a href="#name"><span class="white-text name">Rena</span></a>
            <a href="#email"><span class="white-text email">rena@parallel.com</span></a>
        </div></li>
        <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
        <li><a href="#!">Second Link</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Subheader</a></li>
        <li><a class="waves-effect" href="/">메인</a></li>
        <li><a class="waves-effect" href="/main">일기쓰기</a></li>
        <li><a class="waves-effect" href="/users/login">로그인</a></li>
        <li><a class="waves-effect" href="/users/signup">회원가입</a></li>
        <li><a class="waves-effect" href="/users/logout">로그아웃</a></li>   
    </ul>
    <!--    CONTENT START    -->
    <%- body %>
    <!--    CONTENT END    -->
    <!--    JS CODE FOR NAVBAR    -->
    <script type="text/javascript">
        //materialize
        $(document).ready(function () {
            $('.sidenav').sidenav();
            M.textareaAutoResize($('#textarea1'));
        });

        $(document).ready(function () {
            $('select').formSelect();
        });

        // 수정폼 토글 스크립트
        var toggleUpdateForm = function (pid) {
            let U_target = document.getElementById('U' + pid).style;
            let R_target = document.getElementById('R' + pid).style;
            if (U_target.display == "none") { //수정폼을 연다.
                U_target.display = "block";
                R_target.display = "none";
            } else {
                if (R_target.display == "none") {
                    U_target.display = "none";
                    R_target.display = "block";
                }
            }
        }
        
        //일기 작성 코드
        $('#both_submit').click(function(e){
            e.preventDefault();
            $("form#file_up").submit();
            $("form#text_up").submit();
            
        });    
    </script>
</body>
<footer class="page-footer blue darken-2">
    <div class="footer-copyright blue darken-2">
        <div class="container">
        © 2018 Parallel Diary, All rights reserved. 
        <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>
</html>