<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>평행일기</title>
    <!--    JQuery GOOGLE CDN    -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!--    MATRIALIZE JS    -->
    <script type="text/javascript" src="/js/materialize.js"></script>
    <!--    MATRIALIZE CSS    -->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--    BASE CSS FOR GENERAL    -->
    <link href="/css/base.css" rel="stylesheet">
    <!--    Firebase API    -->
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-messaging.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.5.2/firebase-firestore.js"></script>
    <!--    Prograssive Web App     -->
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#E6E6FA">
    <meta name="msapplication-TileImage" content="/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#E6E6FA">
    <script src="/pwabuilder-sw-register.js"></script>
</head>

<body>
    <!--    
            메인 페이지 레이아웃 작성
            2018.09.17. 14109388 홍진백

            메인 페이지 레이아웃 보강
            2018.11.01  14109362 이창재
        -->
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
        <li><a class="waves-effect" href="/users/signup"><i class="material-icons">library_add</i>회원가입</a></li>
        <li><a class="waves-effect" href="/users/login"><i class="material-icons">vpn_key</i>로그인</a></li>
        <li><a class="waves-effect" href="/users/logout"><i class="material-icons">exit_to_app</i>로그아웃</a></li>
        <li class="divider"></li>
        <li><a class="waves-effect" href="/users/usersetting"><i class="material-icons">settings</i>설정</a></li>
    </ul>
    <!--   NAVIGATION BAR     -->
    <nav class="dk">
        <div class="container nav-wrapper dk">
            <a href="/" class="brand-logo gugi">
                <%=(typeof title != "undefined" ? title : "평행일기")%></a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="/">메인</a></li>
                <li><a href="/main">일기쓰기</a></li>
                <li><a class="dropdown-trigger" href="javascript:void(0);" data-target="dropdown1">Rena<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>

    <ul class="sidenav mm4" id="mobile-demo">
        <li>
            <div class="user-view">
                <div class="background">
                    <img src="../images/userback.png">
                </div>
                <a href="#user"><i class="medium material-icons"></i></a>
                <a href="#name"><span class="white-text name">Rena</span></a>
                <a href="#email"><span class="white-text email">rena@parallel.com</span></a>
            </div>
        </li>
        <li><a class="subheader">Parallel Diary</a></li>
        <li><a class="waves-effect" href="/"><i class="material-icons">home</i>홈</a></li>
        <li><a class="waves-effect" href="/main"><i class="material-icons">create</i>일기쓰기</a></li>
        <li>
            <div class="divider"></div>
        </li>
        <li><a class="subheader">User</a></li>
        <li><a class="waves-effect" href="/users/signup"><i class="material-icons">library_add</i>회원가입</a></li>
        <li><a class="waves-effect" href="/users/login"><i class="material-icons">vpn_key</i>로그인</a></li>
        <li><a class="waves-effect" href="/users/logout"><i class="material-icons">exit_to_app</i>로그아웃</a></li>
        <li><a class="waves-effect" href="/users/usersetting"><i class="material-icons">settings</i>설정</a></li>
    </ul>
    <!--    CONTENT START    -->
    <%- body %>
    <!--    CONTENT END    -->
    <!--    JS CODE FOR NAVBAR    -->
    <script type="text/javascript">
        $(document).ready(function () {
            $('.sidenav').sidenav();
            $(".dropdown-trigger").dropdown({
                inDuration: 300,
                outDuration: 225,
                constrainWidth: false,
                hover: false,
                gutter: 0,
                coverTrigger: false,
                alignment: 'right'
            });
            M.textareaAutoResize($('#textarea1'));
            $('select').formSelect();
            // 데이트 피커 설정
            // $('.datepicker').datepicker();
            $('.datepicker').datepicker({
                firstDay: true,
                format: 'yyyy-mm-dd',
                i18n: {
                    months: ["1월", "2월", "3월", "4월", "5월", "6월", "7월", "8월", "9월", "10월", "11월", "12월"],
                    monthsShort: ["1/", "2/", "3/", "4/", "5/", "6/", "7/", "8/", "9/", "10/", "11/",
                        "12/"
                    ],
                    weekdays: ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"],
                    weekdaysShort: ["일", "월", "화", "수", "목", "금", "토"],
                    weekdaysAbbrev: ["일", "월", "화", "수", "목", "금", "토"]
                },
                maxDate: new Date()
            });

            //오늘 보여주는 포스팅 보이기
            var date_post = $('.date-post').toArray();
            var date_pick = $('#date_pick').val();
            if (date_post != 'undefined') {
                $('.card').css('display', 'none');
                for (let i = 0; i < date_post.length; i++) {
                    if (date_post[i].innerText == date_pick) {
                        date_post[i].parentNode.parentNode.parentNode.style.display = "block";
                    }
                }
            }

            // 다른 날짜를 선택했을 경우
            $('button#date_pick_btn').on('click', function (e) {
                // 버블링 금지
                e.stopPropagation();
                //날짜 표지 변경
                $('#today_diary').text(date_pick + "에 작성한 일기");
                // 순회하여 해당날짜 드러내기
                $('.card').css('display', 'none');
                date_pick = $('#date_pick').val();
                let count_p = 0; //카운팅용 변수
                for (i = 0; i < date_post.length; i++) {
                    if (date_post[i].innerText == date_pick) {
                        date_post[i].parentNode.parentNode.parentNode.style.display = "block";
                        count_p++;
                    }
                }
                if(count_p == 0) { //일기가 없는 경우
                    alert('해당 날짜에 작성한 일기가 없습니다!');
                }
                
                
            });
        });

        // 수정폼 토글 스크립트 : 순수 JS
        var toggleUpdateForm = function (pid) {
            let U_target = document.getElementById('U' + pid).style;
            let R_target = document.getElementById('R' + pid).style;
            if (U_target.display == "none") { //수정폼을 연다.
                U_target.display = "block";
                R_target.display = "none";
            } else {
                if (R_target.display == "none") {
                    U_target.display = "none";
                    R_target.display = "block";
                }
            }
        }
    </script>
</body>
<footer class="page-footer dk">
    <div class="footer-copyright dk">
        <div class="container">
            © 2018 Parallel Diary, All rights reserved.
            <a class="grey-text text-lighten-4 right" href="#!"></a>
        </div>
    </div>
</footer>

</html>