<div id="index_03" class="row h-100 poor-story">
    <div class="row">
        <div class="col l4 offset-l4 m8 offset-m2 s12" style="margin-top:10vh;">
            <div class="card c5">
                <form class="card-content white-text" name="coupleMsg" action="coupleMsg" method="POST">
                    <div id="dvJoin">
                        <h5>커플 요청</h5>
                        <input type="text" id="couplePid" name="couplePid" class="input-text" placeholder="유저번호">
                        <div class="row">
                            <div class="col s12 center">
                                <button id="liCoupleJoinSubmit" class="btn waves-effect waves-light poor-story" type="submit" name="action">
                                    <a href="#" onclick="coupleMsg.submit()"></a>요청 보내기<i class="material-icons right">send</i></a>
                                </button>
                            </div>      
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
        <div class="col s12 m12 center-align">
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        var error = <%- error %>;
        if(error == 1)
            alert("자기자신과 커플을 맺을 수는 없습니다.");
        else if (error == 2)
            alert("해당 유저번호가 존재하지 않습니다.\n유저번호를 다시 확인해 주세요.")
        else if (error == 3)
            alert("상대방이 이미 커플 요청을 받은 상태이거나, 커플 상태입니다.\n유저번호를 다시 확인해 주세요.")
    });
</script>
