<div id="index_02" class="row h-100 poor-story">
    <div class="row">
        <div class="col l4 offset-l4 m8 offset-m2 s12" style="margin-top:10vh;">
            <div class="card c5">
                <form class="card-content white-text" name="coupleMsg" action="coupleMsg" method="POST">
                    <div id="dvJoin">
                        <h5>커플 요청</h5>
                        <input type="hidden" id="userName" name="userName">
                        <input type="text" id="coupleEmail" name="coupleEmail" class="input-text" placeholder="이메일">
                        <div class="row">
                            <div class="col s12 center">
                                <button id="liEmailJoinSubmit" class="btn waves-effect waves-light poor-story" type="submit" name="action">
                                    <a href="#" onclick="coupleMsg.submit()"></a>요청 보내기<i class="material-icons right">send</i></a>
                                </button>
                            </div>      
                        </div>
                    </div>
                </form>
            </div>
        </div>
    
        <div class="col s12 m12 center-align">
        </div>
    </div>
</div>